In [1]:
print("hello")

hello

In [2]:
a=12
b=13
c=a*b
print(c)

156

In [3]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd

In [4]:
spark = SparkSession.builder.appName("Introduction to Spark").getOrCreate()
spark

In [9]:
df_pyspark = spark.read.csv("tips_mock_data_extended.csv")
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string]

In [10]:
df_pyspark.show(5)

+----------+----+------+------+---+------+----+
|       _c0| _c1|   _c2|   _c3|_c4|   _c5| _c6|
+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [11]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

In [12]:
df_pyspark = spark.read.csv("tips_mock_data_extended.csv", header=True,inferSchema=True)
df_pyspark.show(5)

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|     16.99|1.01|Female|    No| Sun|Dinner|   2|
|     10.34|1.66|  Male|    No| Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No| Sun|Dinner|   3|
|     23.68|3.31|  Male|    No| Sun|Dinner|   2|
|     27.73| 7.3|  Male|   Yes|Thur| Lunch|   3|
+----------+----+------+------+----+------+----+
only showing top 5 rows

In [13]:
df_pyspark.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [14]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [15]:
df_pyspark.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [16]:
df_pyspark.head(3)

[Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.34, tip=1.66, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=21.01, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=3)]

In [17]:
df_pyspark.select("sex").show(2)

+------+
|   sex|
+------+
|Female|
|  Male|
+------+
only showing top 2 rows

In [19]:
df_pyspark.select(["tip","sex"]).show(3)

+----+------+
| tip|   sex|
+----+------+
|1.01|Female|
|1.66|  Male|
| 3.5|  Male|
+----+------+
only showing top 3 rows

In [20]:
df_pyspark.select([df_pyspark[1],df_pyspark[2]]).show(5)

+----+------+
| tip|   sex|
+----+------+
|1.01|Female|
|1.66|  Male|
| 3.5|  Male|
|3.31|  Male|
| 7.3|  Male|
+----+------+
only showing top 5 rows

In [21]:
df_pyspark.describe().show()

+-------+------------------+------------------+------+------+----+------+------------------+
|summary|        total_bill|               tip|   sex|smoker| day|  time|              size|
+-------+------------------+------------------+------+------+----+------+------------------+
|  count|                50|                50|    50|    50|  50|    50|                50|
|   mean|28.113199999999996| 5.259599999999999|  NULL|  NULL|NULL|  NULL|              3.86|
| stddev|13.149736156272938|2.7128416910716195|  NULL|  NULL|NULL|  NULL|1.8071287407692582|
|    min|              5.84|              1.01|Female|    No| Fri|Dinner|                 1|
|    max|             49.59|              9.94|  Male|   Yes|Thur| Lunch|                 6|
+-------+------------------+------------------+------+------+----+------+------------------+

In [25]:
###Generating a New Column
'''
To generate a new column, we need to use the withcolumn( ) method, 
which takes the new column name as first argument and then the computation [here we computed the ratio of tip and total_bill).
'''

'\nTo generate a new column, we need to use the withcolumn( ) method, \nwhich takes the new column name as first argument and then the computation [here we computed the ratio of tip and total_bill).\n'

In [24]:
df_pyspark=df_pyspark.withColumn("tips_bill_ratio",(df_pyspark["tip"]/df_pyspark["total_bill"])*100)
df_pyspark.show(5)

+----------+----+------+------+----+------+----+------------------+
|total_bill| tip|   sex|smoker| day|  time|size|   tips_bill_ratio|
+----------+----+------+------+----+------+----+------------------+
|     16.99|1.01|Female|    No| Sun|Dinner|   2|5.9446733372572105|
|     10.34|1.66|  Male|    No| Sun|Dinner|   3|16.054158607350097|
|     21.01| 3.5|  Male|    No| Sun|Dinner|   3|16.658733936220845|
|     23.68|3.31|  Male|    No| Sun|Dinner|   2| 13.97804054054054|
|     27.73| 7.3|  Male|   Yes|Thur| Lunch|   3|26.325279480706815|
+----------+----+------+------+----+------+----+------------------+
only showing top 5 rows

In [26]:
df_pyspark=df_pyspark.drop("tips_bill_ratio")
df_pyspark.show(4)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
+----------+----+------+------+---+------+----+
only showing top 4 rows

In [27]:
df_pyspark.withColumnRenamed("sex","gender").show(3)

+----------+----+------+------+---+------+----+
|total_bill| tip|gender|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 3 rows

In [30]:
df_pyspark=spark.read.csv("tips_mock_data_extended.csv",header=True,inferSchema=True)
df_pyspark.show(5)

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|     16.99|1.01|Female|    No| Sun|Dinner|   2|
|      NULL|NULL|  NULL|  NULL|NULL|  NULL|NULL|
|     10.34|1.66|  Male|    No| Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No| Sun|Dinner|   3|
|     23.68|3.31|  Male|    No| Sun|Dinner|   2|
+----------+----+------+------+----+------+----+
only showing top 5 rows

In [31]:
df_pyspark.na.drop().show()

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|     16.99|1.01|Female|    No| Sun|Dinner|   2|
|     10.34|1.66|  Male|    No| Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No| Sun|Dinner|   3|
|     23.68|3.31|  Male|    No| Sun|Dinner|   2|
|     27.73| 7.3|  Male|   Yes|Thur| Lunch|   3|
|     48.04|3.74|  Male|    No| Fri| Lunch|   6|
|     16.77|1.04|Female|    No| Sun| Lunch|   6|
|      7.17|9.07|  Male|   Yes|Thur| Lunch|   1|
|     35.68|3.99|  Male|   Yes|Thur|Dinner|   6|
|     42.83|1.01|  Male|   Yes|Thur|Dinner|   1|
|     24.62|5.74|  Male|   Yes| Sun| Lunch|   5|
|      5.96|6.59|Female|    No| Sat|Dinner|   6|
|      8.59|2.75|  Male|    No| Fri| Lunch|   6|
|     45.85|4.65|  Male|   Yes| Sat|Dinner|   1|
|     24.82|1.86|Female|   Yes| Sun|Dinner|   2|
|     32.61|3.84|  Male|    No|Thur|Dinner|   5|
|      6.52|7.34|  Male|    No| Fri|Dinner|   6|
|     12.55|2.89|Female|    No| Sun| Lunch|   1|
|     26.63| 2.1|Female|    No| Sat| Lunch|   4|
|      9.02| 2.1|  Male|   Yes| Sun|Dinner|   4|
+----------+----+------+------+----+------+----+
only showing top 20 rows

In [32]:
df_pyspark.na.fill("missing").show()

+----------+----+-------+-------+-------+-------+----+
|total_bill| tip|    sex| smoker|    day|   time|size|
+----------+----+-------+-------+-------+-------+----+
|     16.99|1.01| Female|     No|    Sun| Dinner|   2|
|      NULL|NULL|missing|missing|missing|missing|NULL|
|     10.34|1.66|   Male|     No|    Sun| Dinner|   3|
|     21.01| 3.5|   Male|     No|    Sun| Dinner|   3|
|     23.68|3.31|   Male|     No|    Sun| Dinner|   2|
|     27.73| 7.3|   Male|    Yes|   Thur|  Lunch|   3|
|     48.04|3.74|   Male|     No|    Fri|  Lunch|   6|
|     16.77|1.04| Female|     No|    Sun|  Lunch|   6|
|      7.17|9.07|   Male|    Yes|   Thur|  Lunch|   1|
|     35.68|3.99|   Male|    Yes|   Thur| Dinner|   6|
|     42.83|1.01|   Male|    Yes|   Thur| Dinner|   1|
|     24.62|5.74|   Male|    Yes|    Sun|  Lunch|   5|
|      5.96|6.59| Female|     No|    Sat| Dinner|   6|
|      8.59|2.75|   Male|     No|    Fri|  Lunch|   6|
|     45.85|4.65|   Male|    Yes|    Sat| Dinner|   1|
|     24.82|1.86| Female|    Yes|    Sun| Dinner|   2|
|     32.61|3.84|   Male|     No|   Thur| Dinner|   5|
|      6.52|7.34|   Male|     No|    Fri| Dinner|   6|
|     12.55|2.89| Female|     No|    Sun|  Lunch|   1|
|     26.63| 2.1| Female|     No|    Sat|  Lunch|   4|
+----------+----+-------+-------+-------+-------+----+
only showing top 20 rows

In [33]:
df_pyspark.na.fill(3).show(3)

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|     16.99|1.01|Female|    No| Sun|Dinner|   2|
|       3.0| 3.0|  NULL|  NULL|NULL|  NULL|   3|
|     10.34|1.66|  Male|    No| Sun|Dinner|   3|
+----------+----+------+------+----+------+----+
only showing top 3 rows

In [34]:
df_pyspark.na.fill("missing",["day","sex"]).show(3)

+----------+----+-------+------+-------+------+----+
|total_bill| tip|    sex|smoker|    day|  time|size|
+----------+----+-------+------+-------+------+----+
|     16.99|1.01| Female|    No|    Sun|Dinner|   2|
|      NULL|NULL|missing|  NULL|missing|  NULL|NULL|
|     10.34|1.66|   Male|    No|    Sun|Dinner|   3|
+----------+----+-------+------+-------+------+----+
only showing top 3 rows

In [35]:
from pyspark.ml.feature import Imputer

In [36]:
imputer= Imputer(
    inputCols=["total_bill","tip"],
    outputCols=["{}_imputed".format(c) for c in ["total_bill","tip"]]
    ).setStrategy("mean")

imputer.fit(df_pyspark).transform(df_pyspark).show(5)

+----------+----+------+------+----+------+----+------------------+-----------------+
|total_bill| tip|   sex|smoker| day|  time|size|total_bill_imputed|      tip_imputed|
+----------+----+------+------+----+------+----+------------------+-----------------+
|     16.99|1.01|Female|    No| Sun|Dinner|   2|             16.99|             1.01|
|      NULL|NULL|  NULL|  NULL|NULL|  NULL|NULL|28.113199999999996|5.259599999999999|
|     10.34|1.66|  Male|    No| Sun|Dinner|   3|             10.34|             1.66|
|     21.01| 3.5|  Male|    No| Sun|Dinner|   3|             21.01|              3.5|
|     23.68|3.31|  Male|    No| Sun|Dinner|   2|             23.68|             3.31|
+----------+----+------+------+----+------+----+------------------+-----------------+
only showing top 5 rows

In [37]:
df_pyspark.filter("tip <= 2").show(5)

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|     16.99|1.01|Female|    No| Sun|Dinner|   2|
|     10.34|1.66|  Male|    No| Sun|Dinner|   3|
|     16.77|1.04|Female|    No| Sun| Lunch|   6|
|     42.83|1.01|  Male|   Yes|Thur|Dinner|   1|
|     24.82|1.86|Female|   Yes| Sun|Dinner|   2|
+----------+----+------+------+----+------+----+
only showing top 5 rows

In [38]:
df_pyspark.filter("tip <= 2").select(["total_bill","tip"]).show(5)

+----------+----+
|total_bill| tip|
+----------+----+
|     16.99|1.01|
|     10.34|1.66|
|     16.77|1.04|
|     42.83|1.01|
|     24.82|1.86|
+----------+----+
only showing top 5 rows

In [39]:
df_pyspark.filter((df_pyspark["tip"]<=1) | (df_pyspark["tip"] >=5)).select(["total_bill","tip"]).show(5)

+----------+----+
|total_bill| tip|
+----------+----+
|     27.73| 7.3|
|      7.17|9.07|
|     24.62|5.74|
|      5.96|6.59|
|      6.52|7.34|
+----------+----+
only showing top 5 rows

In [41]:
### Not operation

df_pyspark.filter(~(df_pyspark["tip"]<=2)).select(["total_bill","tip"]).show(5)

+----------+----+
|total_bill| tip|
+----------+----+
|     21.01| 3.5|
|     23.68|3.31|
|     27.73| 7.3|
|     48.04|3.74|
|      7.17|9.07|
+----------+----+
only showing top 5 rows

In [42]:
## Groupby sex and performing sum
df_pyspark.groupBy("sex").sum().show()

+------+-----------------+------------------+---------+
|   sex|  sum(total_bill)|          sum(tip)|sum(size)|
+------+-----------------+------------------+---------+
|  NULL|             NULL|              NULL|     NULL|
|Female|646.9899999999999|114.28000000000002|       84|
|  Male|           758.67|148.70000000000002|      109|
+------+-----------------+------------------+---------+

In [43]:
### Group by day, max tip
df_pyspark.groupBy("day").max().select(["day", "max(tip)"]).show()

+----+--------+
| day|max(tip)|
+----+--------+
|Thur|    9.07|
| Sun|    7.57|
|NULL|    NULL|
| Sat|    9.33|
| Fri|    9.94|
+----+--------+

In [44]:
df_pyspark.agg({"tip": "sum"}).show()

+------------------+
|          sum(tip)|
+------------------+
|262.97999999999996|
+------------------+

In [45]:
df_pyspark.groupBy("sex").agg({"tip": "sum", "total_bill": "max"}).show()

+------+------------------+---------------+
|   sex|          sum(tip)|max(total_bill)|
+------+------------------+---------------+
|  NULL|              NULL|           NULL|
|Female|114.28000000000002|          49.59|
|  Male|148.70000000000002|          48.04|
+------+------------------+---------------+